*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(186, 186, 255);
    color: white;
}

#main-box {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

ul{
    list-style-type: none;
}

